<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2012 The Android Open Source Project
modified
SPDX-License-Identifier: Apache-2.0 AND GPL-3.0-only
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application android:label="@string/english_ime_name"
            android:name="helium314.keyboard.latin.App"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:allowBackup="false"
            android:fullBackupContent="@xml/backup_rules"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:usesCleartextTraffic="false"
            android:networkSecurityConfig="@xml/network_security_config"
            android:enableOnBackInvokedCallback="true"
            android:localeConfig="@xml/locales_config"
            tools:remove="android:appComponentFactory"
            tools:targetApi="33">

        <!-- Services -->
        <service android:name="LatinIME"
                android:label="@string/english_ime_name"
                android:permission="android.permission.BIND_INPUT_METHOD"
                android:directBootAware="false"
                android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method_dummy" />
        </service>

        <service android:name=".spellcheck.AndroidSpellCheckerService"
                 android:label="@string/spell_checker_service_name"
                 android:permission="android.permission.BIND_TEXT_SERVICE"
                 android:exported="true">
            <intent-filter>
                <action android:name="android.service.textservice.SpellCheckerService" />
            </intent-filter>
            <meta-data android:name="android.view.textservice.scs"
                    android:resource="@xml/spellchecker" />
        </service>

        <!-- Activities -->
        <activity
            android:name="helium314.keyboard.secure.home.CipherBoardHomeActivity"
            android:label="@string/cipherboard_home_title"
            android:theme="@style/platformActivityTheme"
            android:icon="@mipmap/ic_launcher"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="helium314.keyboard.secure.home.SecurityInfoActivity"
            android:label="@string/cipherboard_security_title"
            android:theme="@style/platformActivityTheme"
            android:exported="false" />

        <activity
            android:name="helium314.keyboard.secure.home.LicenseInfoActivity"
            android:label="@string/cipherboard_licenses_title"
            android:theme="@style/platformActivityTheme"
            android:exported="false" />

        <activity
            android:name="helium314.keyboard.secure.update.UpdateInfoActivity"
            android:label="@string/cipherboard_updates_title"
            android:theme="@style/platformActivityTheme"
            android:exported="false" />

        <activity
            android:name="helium314.keyboard.secure.home.ContactDetailsActivity"
            android:label="@string/cipherboard_contact_title"
            android:theme="@style/platformActivityTheme"
            android:exported="false"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true" />

        <activity
            android:name="helium314.keyboard.secure.home.VaultSettingsActivity"
            android:label="@string/cipherboard_vault_settings_title"
            android:theme="@style/platformActivityTheme"
            android:exported="false" />

        <activity
            android:name="helium314.keyboard.secure.pairing.PairingActivity"
            android:label="@string/cipherboard_pairing_title"
            android:theme="@style/platformActivityTheme"
            android:exported="false"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true" />

        <activity android:name="helium314.keyboard.settings.SettingsActivity"
                android:theme="@style/platformActivityTheme"
                android:icon="@mipmap/ic_launcher"
                android:windowSoftInputMode="adjustResize"
                android:exported="false" />

        <!-- separate activity that's used internally, only necessary in case the launcher icon is disabled on Android < 10 -->
        <activity android:name="helium314.keyboard.settings.SettingsActivity2"
            android:theme="@style/platformActivityTheme"
            android:icon="@mipmap/ic_launcher"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity android:name=".spellcheck.SpellCheckerSettingsActivity"
                android:theme="@style/platformActivityTheme"
                android:label="@string/spell_checker_service_name"
                android:exported="false" />

        <activity android:name="helium314.keyboard.secure.SecureComposerActivity"
            android:theme="@style/platformActivityTheme"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"/>

        <activity
            android:name="helium314.keyboard.secure.SecureVaultUnlockActivity"
            android:theme="@style/platformActivityTheme"
            android:exported="false"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true" />

        <activity
            android:name="helium314.keyboard.secure.decrypt.SecureMessageViewerActivity"
            android:theme="@style/platformActivityTheme"
            android:exported="false"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true" />

        <activity
            android:name="helium314.keyboard.secure.decrypt.CiphertextClipboardActivity"
            android:label="@string/secure_clipboard_decrypt_title"
            android:theme="@style/platformActivityTheme"
            android:exported="false"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true" />

        <!-- Export is required by ACTION_PROCESS_TEXT. The activity validates action, MIME type,
             strict envelope limits, and always returns RESULT_CANCELED without replacement text. -->
        <activity
            android:name="helium314.keyboard.secure.decrypt.ProcessTextDecryptActivity"
            android:label="@string/cipherboard_process_text_label"
            android:theme="@style/platformActivityTheme"
            android:exported="true"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity android:name="helium314.keyboard.keyboard.emoji.EmojiSearchActivity" android:exported="false"
            android:theme="@style/TransparentActivityTheme" android:excludeFromRecents="true" android:noHistory="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" android:configChanges="orientation|screenSize"/>

        <!-- Broadcast receivers -->
        <receiver android:name="SystemBroadcastReceiver"
                android:directBootAware="false"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_INITIALIZE" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name="DictionaryPackInstallBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="helium314.keyboard.dictionarypack.aosp.UNKNOWN_CLIENT" />
            </intent-filter>
        </receiver>

        <!-- for pasting files from internal clipboard -->
        <provider android:name="helium314.keyboard.latin.database.ClipboardContentProvider"
            android:authorities="${applicationId}.clipprovider"
            android:enabled="true"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/clipboard_provider_path"/>
        </provider>

    </application>

    <queries>
        <!-- To detect other IMEs -->
        <intent>
            <action android:name="android.view.InputMethod" />
        </intent>

        <!-- To detect names of installed apps -->
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
</manifest>
